.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 20px;
  
}

.app-filtro {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  padding: 20px;
  padding-top: 0px;
  height: 450px;
  max-height: 450px;
  border: 1px solid #98756F; 
  background-color: hsl(10, 62%, 85%);
  border-radius: 20px;
}

.app-inputs {
  margin: 1px;
}

input, select {
  /* margin: 2px; */
  background-color:aliceblue;
  border-radius: 5px;
}

.app-produtos{
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  /* flex-grow: 5; */
  border: 1px solid #98756F; 
  background-color: hsl(10, 62%, 85%);
  ;
  border-radius: 20px;

  padding: 20px;
  padding-top: 0px;
  margin: 0 10px

}
.app-produtos > h4 {
  align-self: flex-start;
  /* justify-self: flex-start; */
  margin-left: 27px;
}

.app-cards {
  display: flex;
  flex-direction: row;
  /* max-width: 700px; */
  flex-wrap: wrap;
  /* height: 200px; */

}



.app-carrinho {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-content: left;
  /* flex-grow: 2; */

  padding: 20px;
  padding-top: 0px;

  min-width: 140px;
  height: 450px;
  max-height: 450px;
  /* width: 300px; */
  border-radius: 20px;
  border: 1px solid #98756F;
  background-color: hsl(10, 62%, 85%);

}


.app-carrinhos-produtos {
  /* width: 700px; */
  /* min-width: 500px; */
  
}

.produto-carrinho-container {
  border: 1px solid black; 
  /* border-radius: 10px; */

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: left;
  justify-items: left;
  margin-bottom: 5px;
  text-align: left;
  /* margin: 10px ; */
  /* flex-wrap: wrap; */
  /* width: 400px; */
  /* max-width: 100px; */
  /* min-width: 200px; */
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  background-color:#FDC1C5;


}

.produto-carrinho-container > div > button {
  margin-left: 5px;
  margin-bottom: 2px;
  /* background-color:#eee; */
  /* border: 1px solid rgb(84, 111, 111);  */
  /* border-radius: 10px; */
  outline: none;
  /* padding: 5px 12px; */

}

.signature {
  position: absolute;
  bottom: 0px;
  background-color: #61dafb;
  color: aliceblue;
  right: 50px;
}